/* @font-face {
  font-family: 'Nunito';
  src: url('fonts/nunito.woff2') format('woff2'),
       url('fonts/nunito.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */
/* 
:root {
  --font-family-nunito: 'Nunito', sans-serif;
  --text-white: rgba(255, 255, 255, 1);
  --text-rgb-30-59-163: rgba(30, 59, 163, 1);
  --text-black: rgba(0, 0, 0, 1);
  --text-rgb-146-143-143: rgba(146, 143, 143, 1);
} */

.task-item {
  padding: 20px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(0,0,0,0.5);
}

.task-item h3 {
  font-family: var(--font-family-nunito);
  font-size: 20px;
  font-weight: 700;
  color: var(--text-rgb-30-59-163);
  margin-bottom: 5px;
}

.task-item p {
  font-family: var(--font-family-nunito);
  font-size: 16px;
  color: var(--text-black);
  margin-bottom: 5px;
}

.task-item button {
  padding: 8px 15px;
  font-family: var(--font-family-nunito);
  font-size: 16px;
  font-weight: 700;
  color: var(--text-white);
  border: none;
  border-radius: 41px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.edit-btn {
  background-color: #facc15;
}

.edit-btn:hover {
  background-color: #e0b314;
}

.delete-btn {
  background-color: #ff0000;
}

.delete-btn:hover {
  background-color: #cc0000;
}